/*Hello and welcome to my code*/
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgba(18, 18, 19,0.1);
    color: white;
    margin: 0;
    padding: 0;
}
body,html{
    height: 50%;
}

.parallax{
    background-image: url(./img/brian.png);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    min-height:300px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.parallax2{
    background-image: url(./img/brian.png);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    min-height:500px;
    padding: 0;
    margin: 0;

}
.parallax3{
    background-image: url(./img/brian.png);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    min-height:600px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}


/*       The typography of the page       */


/*   The navbar &&&&&&&&&*/
#navbar{
    background-color: rgba(14, 13, 13, 0.4);
    position: fixed;
    overflow-x:hidden;
    width: 100%;
    outline: none;
    top: 0px;
    right: 0px;
    
}

#navbar a{
    font:500 2rem "Raleway";
    color: rgba(240, 85, 85,0.9);
    text-decoration: none;
    display: block;
    float:right;
    padding:0px 10px 5px 10px;
    letter-spacing: 0.02em;
    text-align: center;

}


#navbar a:hover{
    color: rgba(243, 13, 13, 0.9);

}
#nav a:focus{
    color: red;
}

/*container for the remaining div*/

.text{
    font-size:2rem;
}



/*            welcome section        */

#welcome-section{
    background:linear-gradient(to right, rgb(73, 71, 71), rgba(37, 37, 37)); 
    height: 120vh;
    text-align: center;
    

}

/*   the  H1    &&&*/
h1{
    margin-bottom: 0px;
    padding-top: 90px;
    padding-bottom:0;
    font-size: 3.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(199, 235, 0);

}
#welcome-p{
    font-size: 1.5rem;
    letter-spacing: 0.5em;
   
}

/*    the about me image and text styling */
.self{
    display: block;
    margin-top: 60px;
    position: relative;
}

.info-img{
    width: 35%;
    height: 50px;
    float :left;
    position: absolute;
    top: 5px;
    left: 0px;
}

#pic-info{
    width: 180px;
    height: 270px; 
    border-radius: 25%;
    user-select: none;
    border:2px solid  black;
    cursor: pointer;
   
}

.info-txt{
    width: 60%;
    float: right;
    text-align: center;
    letter-spacing: 0.01em;
    font-size: 1.5rem;
}

/*               Skill          Ware  */



.block{
    display: inline-block;
    width: 80%;
    height: 20px;
    border: 2px solid red;
    padding-right:10px;
}

.skills{
    width: 30px;
    padding-top: 17px;
   ;
    
}



/*      PROJECTS ...SECTION................*/
#projects{
    width: 100%;
    height: 120vh;
    text-align: center;
    position: relative;
    background:linear-gradient(to right, rgb(73, 71, 71), rgba(37, 37, 37));
   
}

#projects-h2{
    font-size: 1.8rem;
    text-decoration:underline;
    letter-spacing: 0.1em;
}


/*      Projects tiles        */
.project-tile{
    width: 100%;
    text-align: center;
    

}


.tile-1{
    display: flex;
    margin-top: 30px;
   
   
}

.img-container{
   border: 2px solid black;
   overflow: hidden;
   outline: none;
   margin-left: 8px;
   background-color: black;
   
}   





/*         tile 2 img grid  */
.tile-2{
    display: flex;
   margin-top: 30px;
}

.img2-container{
    border: 2px solid black;
   overflow: hidden;
   outline: none;
   margin-left: 8px;
   background-color: black;

}


.pro{
    width: 100%;
    padding: 5px 10px 0px 10px;
    margin-bottom:0;
    cursor: pointer;
    
}
/*          the images styling      */
/*      img-text            */
.img-text{
    display: inline-block;
    padding:0 ;
    font:300 2rem "Raleway";
    letter-spacing: 0.02em;
    margin:0px;
    width: 100%;
    background-color: black;
    cursor:pointer;
}


/*the button to show all the link on github*/

#showAll{
    width: 100%;
    border: none;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    left: 0;
    bottom: 0px;
    background-color:black;
    color: rgb(228,227,227);
    border-radius: 11px;
    cursor: pointer;
    
}
#showAll:hover{
    color: rgba(228,228,228,0.9);
}



/*             footer                      */
#footer{
    text-align: center;
    background:linear-gradient(to right, rgb(73, 71, 71), rgb(37, 37, 37)); 
    height: 55vh;
    position: relative;
}

#footer-text{
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.06em;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#footer-text h2{
    color: yellow;
    font-weight: 900;
    
}
#footer-text p{
    color: rgba(223, 223, 58,0.4);
    
}


/*          social media icons and text     */
#social-media{
   display: flex;
   padding-left: 50px;
   justify-content: center;
   align-items:baseline;
   text-align: center;

}

.im-txt{
    font:200 1.2rem "Raleway";
}

.iconic{
    padding: 2px;
}

.icons{
    width: 50px;
    align-items: center;
    padding: 0;
}


/*           end  Note                    */

#end-text{
    display: flex;
    justify-content: space-between;
    color: red;
    font-size: 1rem;
    
  
    
}
.p1{
   position: absolute;
   left: 0px;
   bottom: 0px;
   letter-spacing: 0.01em;
   
}
.p2{
    position: absolute;
    right: 0px;
    bottom:0px;
    
}







/*             Media-----Queries       */
@media screen and (max-width:600px){


}




















